<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="hive" class="org.hivedb.Hive"
		factory-method="load">
		<constructor-arg value="jdbc:derby:storage_test" />
		<constructor-arg>
			<ref bean="hiveStatistics" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="directoryStatistics" />
		</constructor-arg>
	</bean>
</beans>