<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="locations">
            <!-- from least to most specific. They are additive, last one wins -->
            <list>
                <value>classpath:hivedb.properties</value>
                <value>file:///etc/hivedb.properties</value>
                <value>file://${user.home}/hivedb.properties</value>
                <value>${hivedb.properties}</value>
            </list>
        </property>
        <property name="properties">
            <!-- these are the default props for the development environment -->
            <props>
            	<prop key="hive.configuration.database">jdbc:h2:mem:storage_test</prop>
            	<prop key="datasource.connection.timeout">500</prop>
            </props>
        </property>
	</bean>
	<bean id="hive" class="org.hivedb.Hive"
		factory-method="load">
		<constructor-arg value="${hive.configuration.database}" />
		<constructor-arg>
			<bean class="org.hivedb.meta.persistence.HiveBasicDataSourceProvider">
				<constructor-arg value="${datasource.connection.timeout}" />
			</bean>
		</constructor-arg>
	</bean>
</beans>