<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory
        name="java:hibernate/SessionFactory">
        
		<property name="hibernate.c3p0.acquire_increment">1</property> 
		<property name="hibernate.c3p0.idle_test_period">100</property> <!-- seconds --> 
		<property name="hibernate.c3p0.max_size">64</property> 
		<property name="hibernate.c3p0.max_statements">0</property> 
		<property name="hibernate.c3p0.min_size">2</property> 
		
		<!-- time out after 1 hour - well before the 8 hour MySQL timeout (a.k.a. "broken pipe") -->
		<property name="hibernate.c3p0.timeout">3600</property> <!-- seconds -->
		<!--<property name="hibernate.show_sql">true</property>-->
    </session-factory>
</hibernate-configuration>